body{
    margin: 0;
}

header{
    width: 100%;
    height: 250px;
}

.container-img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9F8F8;
    border-bottom: 1px solid rgb(158, 158, 158);
}

.img{
    width: 150px;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid rgb(158, 158, 158);
    background-color: white;
    transform:translateY(50%);
}

.info-iconos{
    width: 100%;
    height: 100px;
}

.container-iconos{
    width: 70%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 14%;
}

.fa-chevron-up{
    position: absolute;
    z-index: 3;
    transition: .2s linear all;
    text-align: center;
    color: white;
}

.iconos2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: auto;
    color: rgb(194, 191, 191);
    cursor: pointer;
    transition: .2s linear all;
}

.iconos2:hover .fa-chevron-up{
    color: rgb(131, 204, 21);
    transform: translateY(-30px);
}

.iconos2:hover{
    color: rgb(131, 204, 21);
}

.iconos{
    position: relative;
    z-index: 4;
    background-color: white;
}

.conteiner-datos{
    text-align: center;
}

.correo, .nacimiento, .ubicacion, .telefono, .password{
    display: none;
}